@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<!--End Banner Section -->
<!--About Us Section-->
<section class="about-section alternate">
    <div class="bg-grad-right"><img src="~/images/background/bg-gradient-2.png" alt="" title=""></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Col-->
            <div class="text-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="d-elem-1"><img src="~/images/resource/d-elem-1.png" alt=""></div>
                    <div class="title-box">
                        <div class="subtitle">@localizer["Let’s Explore the World"]</div>
                        <h2><span style="font-family: 'Roboto', sans-serif;font-weight: 500;">@localizer["Make your tour more enjoyable with Space Travel"]</span></h2>
                        <div class="text">@localizer["From breathtaking views to impeccable service, treat yourself and your loved ones to a spectacular vacation that will leave you mesmerized."]</div>
                    </div>
                    <div class="features">
                        <div class="row clearfix">
                            <div class="f-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="icon"><img src="~/images/resource/f-icon-1.png" alt=""></div>
                                    <h6 style="font-family: 'Roboto', sans-serif;font-weight: 400;">@localizer["Travel and visa organizer"]</h6>
                                </div>
                            </div>
                            <div class="f-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="icon"><img src="~/images/resource/f-icon-2.png" alt=""></div>
                                    <h6 style="font-family: 'Roboto', sans-serif;font-weight: 400;">@localizer["A solution to every issue related to tourism"]</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-text">
                        <div class="text">
                            <ul>
                                <li>@localizer["Hurry up to make a reservation before the places run out and the prices increase."]</li>
                                <li>@localizer["Take advantage of the opportunity to have a wonderful vacation."]</li>
                                <li>@localizer["Live unforgettable moments."]</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Col-->
            <div class="image-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="bg-grad-left"><img src="~/images/background/bg-gradient-26.png" alt="" title=""></div>
                    <div class="d-elem-1"><img src="~/images/resource/d-elem-16.png" alt=""></div>
                    <div class="d-elem-2"><img src="~/images/resource/d-elem-17.png" alt=""></div>
                    <div class="image-box clearfix">
                        <div class="image"><img src="~/images/resource/image-55.jpg" alt="" title=""></div>
                        <div class="image"><img src="~/images/resource/image-56.jpg" alt="" title=""></div>
                    </div>
                    <div class="exp"><span class="count">3</span> @localizer["Successful"] <br>@localizer["years"]</div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Intro Section-->
<section class="intro-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Block-->
            <div class="intro-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon"><span><img src="~/images/resource/intro-4.png" alt=""></span></div>
                    <h4 style="font-family: 'Roboto', sans-serif;font-weight: 400;">@localizer["Our Mission"]</h4>
                    <div class="text">@localizer["Based on our many years of experience and knowledge, we help you find the right vacation for you"]</div>
                </div>
            </div>
            <!--Block-->
            <div class="intro-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon"><span><img src="~/images/resource/intro-5.png" alt=""></span></div>
                    <h4 style="font-family: 'Roboto', sans-serif;font-weight: 400;">@localizer["Our Mission"]</h4>
                    <div class="text">@localizer["Our mission is to help people have a pleasant and unforgettable trip."]</div>
                </div>
            </div>
            <!--Block-->
            <div class="intro-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="icon"><span><img src="~/images/resource/intro-6.png" alt=""></span></div>
                    <h4 style="font-family: 'Roboto', sans-serif;font-weight: 400;">@localizer["Our Mission"]</h4>
                    <div class="text">@localizer["At Space Travel, we provide unbiased advice on how to get the best vacation for your taste and budget."]</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Our Speciality Section-->
<section class="our-speciality">
    <div class="auto-container">
        <div class="outer-box">
            <div class="bg-grad-left"><img src="~/images/background/bg-gradient-23.png" alt="" title=""></div>
            <div class="row clearfix">
                <!--Text Col-->
                <div class="title-col col-lg-5 col-md-12 col-sm-12">
                    <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="d-elem-1"><img src="~/images/resource/d-elem-14.png" alt=""></div>
                        <div class="title-box">
                            <div class="subtitle">@localizer["Our Speciality"]</div>
                            <h2><span style="font-family: 'Roboto', sans-serif;font-weight: 400;">@localizer["Your Trusted Travel Partner"]</span></h2>
                            <div class="text">@localizer["The only thing that made you rich by spending money was travel"]</div>
                        </div>
                    </div>
                </div>
                <!--Content Col-->
                <div class="content-col col-lg-7 col-md-12 col-sm-12">
                    <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="features">
                            <div class="row clearfix">
                                <div class="feature col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                        <div class="icon"><img src="~/images/resource/f-icon-10.png" alt=""></div>
                                        <h4>Innvative Tour Plans</h4>
                                        <div class="text">Sectetur adipisicing elised do eiusmod tempor incidid unt ut labore et dolore magna aliqua enim ad minim.</div>
                                    </div>
                                </div>
                                <div class="feature col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                        <div class="icon"><img src="~/images/resource/f-icon-11.png" alt=""></div>
                                        <h4>Expert Travel Guide</h4>
                                        <div class="text">Sectetur adipisicing elised do eiusmod tempor incidid unt ut labore et dolore magna aliqua enim ad minim.</div>
                                    </div>
                                </div>
                                <div class="feature col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                        <div class="icon"><img src="~/images/resource/f-icon-12.png" alt=""></div>
                                        <h4>Flexible Payment Policy</h4>
                                        <div class="text">Sectetur adipisicing elised do eiusmod tempor incidid unt ut labore et dolore magna aliqua enim ad minim.</div>
                                    </div>
                                </div>
                                <div class="feature col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                        <div class="icon"><img src="~/images/resource/f-icon-13.png" alt=""></div>
                                        <h4>@localizer["High Quality Management"]</h4>
                                        <div class="text">Sectetur adipisicing elised do eiusmod tempor incidid unt ut labore et dolore magna aliqua enim ad minim.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Facts Section-->
<section class="facts-section alt-padding">
    <div class="auto-container">
        <div class="fact-counter">
            <div class="row clearfix">
                <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner clearfix">
                        <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="120" data-speed="2000">0</span><i>+</i></div></div>
                        <div class="fact-title">@localizer["Total"] <br>@localizer["destination"]</div>
                    </div>
                </div>
                <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner clearfix">
                        <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="500" data-speed="3000">0</span><i>+</i></div></div>
                        <div class="fact-title">@localizer["Travel"] <br>@localizer["Packages"]</div>
                    </div>
                </div>
                <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner clearfix">
                        <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="12" data-speed="2000">0</span>K<i>+</i></div></div>
                        <div class="fact-title">@localizer["Total"] <br>@localizer["travelers"]</div>
                    </div>
                </div>
                <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                    <div class="inner clearfix">
                        <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="7" data-speed="2000">0</span>K<i>+</i></div></div>
                        <div class="fact-title">@localizer["Whole"] <br>@localizer["reviews"]</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<!--Clients Section-->
<section class="clients-two">
    <div class="auto-container">
        <div class="title-box centered">
            <div class="subtitle">@localizer["Cooperations"]</div>
            <h2 style="font-family: 'Roboto', sans-serif;font-weight: 500;">@localizer["Companies we cooperate with"]</h2>
        </div>
        <div class="carousel-box">
            <div class="clients-carousel">
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/azallogo 2.png" alt=""></a></div>
                </div>
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/Buta airways.png" alt=""></a></div>
                </div>
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/Wizzair.png" alt=""></a></div>
                </div>
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/Turkish Airlines.png" alt=""></a></div>
                </div>
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/SummerTourlogo.png" alt=""></a></div>
                </div>
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/Qatar airways logo.png" alt=""></a></div>
                </div>
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/Ural airlines logo.png" alt=""></a></div>
                </div>
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/Airastana.png" alt=""></a></div>
                </div>
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/airholland.png" alt=""></a></div>
                </div>
                <!--Block-->
                <div class="client-block">
                    <div class="image"><a href="#"><img src="~/images/lufthansa.png" alt=""></a></div>
                </div>
            </div>
        </div>

    </div>
</section>