@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<section class="inner-banner">
    <div class="image-layer" style="background-image: url(../images/background/b-image-1.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1 style="font-family: 'Roboto', sans-serif;font-weight: 500;">@localizer["Services"]</h1>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li class="current" >@localizer["Services"]</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Hotels Section-->

<section class="hotels-section">


    <div class="auto-container ">
        <div class="packages d-flex">


            <div class="row clearfix" id="hotels">

                <div class="package-block alt col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><img src="~/images/car.jpg" alt=""></div>
                            <div class="b-title featured"><span>@localizer["Services"]</span></div>
                        </div>
                        <div class="lower-box">
                            <div class="location">Rent A Car</div>
                            <p>@localizer["You can find different cars from Space Travel for both price and comfort. Every year, hundreds of customers appreciate our high level of service and accuracy."]</p>
                            <div class="text-center">
                                <a href="https://api.whatsapp.com/send/?phone=994705418171&text&type=phone_number&app_absent=0" class="btn btn-danger">@localizer["Book now"]</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="package-block alt col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><img src="~/images/Beledci.jpg" alt=""></div>
                            <div class="b-title featured"><span style="font-family: 'Roboto', sans-serif;font-weight: 400;">@localizer["Services"]</span></div>
                        </div>
                        <div class="lower-box">
                            <div class="location">@localizer["Multilingual guides"]</div>
                            <p>@localizer["Add pleasure to your journey with a positive person. You will receive more complete and detailed information about the history and interesting places you have visited."]</p>
                            <div class="text-center">
                                <a href="https://api.whatsapp.com/send/?phone=994705418171&text&type=phone_number&app_absent=0" class="btn btn-danger">@localizer["Book now"]</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="package-block alt col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><img src="~/images/Visa.jpg" alt=""></div>
                            <div class="b-title featured"><span style="font-family: 'Roboto', sans-serif;font-weight: 400;">@localizer["Services"]</span></div>
                        </div>
                        <div class="lower-box">
                            <div class="location">@localizer["Visa Assistance"]</div>
                            <p>@localizer["One of the most important categories of tourism services is VISA support. We are ready to help those who want to get a work visa, a tourist visa, an educational visa, and a residence permit."]</p>
                            <div class="text-center">
                                <a href="https://api.whatsapp.com/send/?phone=994705418171&text&type=phone_number&app_absent=0" class="btn btn-danger">@localizer["Book now"]</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="package-block alt col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><img src="~/images/Aviabiletler.jpg" alt=""></div>
                            <div class="b-title featured"><span style="font-family: 'Roboto', sans-serif;font-weight: 400;">@localizer["Services"]</span></div>
                        </div>
                        <div class="lower-box">
                            <div class="location">@localizer["Assisting with any airline flights"]</div>
                            <p>@localizer["Don't forget to take advantage of airline ticketing services to make your travels more comfortable and hassle-free. Your dream destinations are now closer to you and just a click away."]</p>
                            <div class="text-center">
                                <a href="https://api.whatsapp.com/send/?phone=994705418171&text&type=phone_number&app_absent=0" class="btn btn-danger">@localizer["Book now"]</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>